// - 변수 선언: $ 키워드 사용
$color-bg1: rgb(0, 0, 166);
$color-bg2: rgb(36, 61, 206);
$color-bg3: rgb(52, 118, 231);
$color-bg4: rgb(47, 146, 233);
$color-bg5: rgb(140, 191, 253);
$color-bg6: #fff;
$color-bg7: #000;