<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>실습 문제 풀이</h1>
    <a href="/getPage">GET실습</a>
    <a href="/postPage">POST실습</a>
    <script>
        const resultBox = document.querySelector('.result');

        function axiosGet() {
            const form = document.forms['register-form']
            const data = {
                username: form.name.value,
                mail: form.email.value
            }
            //axios
            axios({
                method: 'GET', 
                url: '/axios',
                params: data
            }).then((res) => {
                console.log('res', res);
                resultBox.textContent = `${res.data.username}님 주소는 ${res.data.email}입니다`
            })
        }
    </script>
</body>
</html>